name: CI

on:
  pull_request:
    branches:
      - main
      - beta

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Lint
        run: bun run lint

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Typecheck
        run: bun run typecheck

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build test Docker image
        run: docker build -t dotenc-tests -f cli/tests.Dockerfile .

      - name: Run tests
        run: docker run --rm dotenc-tests

  e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build e2e Docker image
        run: docker build -t dotenc-e2e -f cli/e2e/Dockerfile .

      - name: Run e2e tests
        run: docker run --rm dotenc-e2e
